@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #211e1e;
  color: white;
  font-family: "Open Sans", sans-serif;
  border: #211e1e;
}
